#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  nav {
    padding-top: 70px;
    width: 200px;
    float: left;
  }
  
  nav a {
    font-weight: bold;
    color: #08BDB6;
  }
  
  nav a.router-link-exact-active {
    color: #08BDB6;
  }
  
  img {
    width: 5%;
    float: left;
  }
